.DS_Store
*.blend1
Vendor/OculusPlatform
Vendor/Steamworks
Builds
Builds/xcode
Builds/android/app/src/main/assets
Builds/android/app/.cxx
Builds/Oculus
Builds/Steam
Builds/Independent
cmake-build-debug
cmake-build-release
Resources/shaders/*.metal
Vendor/AWSGameLift
.idea
Scripts/Utilities.pyc
/Assets/Blender/Wand_weiß.jpg
/Assets/Blender/Wolle_grau.jpg
/Assets/Blender/Raum.blend
/Assets/Blender/Mosaik_fernandez.jpg
/Assets/Blender/Grundriss.blend
/Assets/Blender/Boden_Raum.blend
/Assets/Blender/Boden_Holz.jpg
Resources/shaders/*.cso
Resources/shaders/Shaders.json
build/*
/Assets/Sprites/Stevelette/combo
/Releases
